<a class="popaddNoPlayClose close2"  href="javascript:;" onClick="close_box('.addNoPlay',1);"></a>
  <div class="tckuangcon fillet4">
    <p trans_value="index_64">对不起，当前版本不支持播放功能，研发人员正在努力实现，敬请期待！</p>
    <p class="listing" trans_value="index_65">您可以使用VidOn Cloud进行播放</p>
    <div class="cloud">
      <div class="no1 fl"><img src="images/movie/cloud_img_2.png" width="177" height="190"></div>
      <div class="no2 fl">
        <a href="javascript:;" target="_blank" class="btn-small btn-blue mac" trans_value="index_69"   trans_href="index_217"><b>Available Soon</b><br>on iTunes</a>
        <a href="javascript:;" target="_blank" trans_href="index_177" class="btn-small btn-blue android" trans_value="index_70"><b>Available Soon</b><br>on Google Play</a></div>
      <!--<div class="no3 fl"><img src="images/movie/cloud_m.jpg" width="101" height="100"/>
        <p trans_value="index_68">Scan to Download</p>
      </div>-->
      <div class="clr"></div>
    </div>
   
  </div>
