<a class="popAddMedia close" href="javascript:;" onclick="close_box('.addonMedia',1);"></a>
<h3 id="popaddVideoH3" class="fillettop4" trans_value="index_47">Add media management path</h3>
<div class="tckuangcon filletbot4 addMediaBlock">
	<p class="fontbold" trans_value="index_216">Select the file type</p>
	<ul class="select-media-mode clearfix" id="select-media-mode" >
		<li class="select-tv J_media_tv" >
			<p trans_value="index_8">Movie, TV series,<br>MV video</p>
		</li>
		<li class="select-photo J_media_photo">
			<p trans_value="index_9">Photos and <br>Personal Videos</p>
		</li>
		<li class="select-channel J_media_channel">
			<p trans_value="index_191">Channels</p>
		</li>
	</ul>
	<a href="javascript:;" onclick="close_box('.addonMedia',1);"  class="fl btn-small btn-white"trans_value="index_25">取消</a>
	<a href="javascript:;" class="fr btn-small btn-blue J_media_next" trans_value="index_6">Next</a>
</div>