 <a class="popconfirmDeleteClose close2"  href="javascript:;" onClick="close_box('.popabout',1);"></a>
  <div class="tckuangcon fillet10">
    <div class="poplogo"><img src="images/logo_new.png" width="116" height="23"></div>
    <div class="popserver">
    <h4>VidOn Server</h4>
    <p>Version: 2.0.2.7 stable</p>
    </div>
    <p class="big"  trans_value="index_167">官方网站: <a href="Http://www.vidon.me">Http://www.vidon.me</a></p>
    <p class="big" trans_value="index_168">官方论坛: <a href="Http://forum.vidon.me">Http://forum.vidon.me</a></p>
    <p style=" text-align:center; padding-top:40px;"  trans_value="index_169">Copyright@2012-2015 VidOn.me All Right Reserved</p>
  </div>
