
 <a class="popaddVideoClose close" href="javascript:;" id="btnMngPathOK" onclick="close_box('.addVideo',2);"></a>
    <h3 id="popaddVideoH3" class="fillettop4">Add Path: Commercial Videos</h3>
    <div class="tckuangcon filletbot4  addpathblock">
    <p class="fontbold" trans_value="index_15">Selected Path</p>
    <div id="selectedPathblock" class="selectedPathblock">
        <ul class="selectedPath" id="selectedPath">
          <li index="4" class="even">
            <span class="delete-btn-bg"></span>
            <span class="showpath">D:\movie</span>
          </li></ul>
        <a href="javascript:;" id="addPathbtn" class="addPathbtn btn-small btn-white" trans_value="index_51">Continue add</a>
    </div>
    <a href="javascript:;" class="fl btn-small btn-white" id="addvideoback" trans_value="index_25" onclick="close_box('.addVideo',2);">Cancel</a>
    <a href="javascript:;" class="fr btn-small btn-blue" id="addvideook" trans_value="index_26" >Finish</a>
  </div>