<a class="addonDetailClose close2"  href="javascript:;" onClick="close_box('.addonDetail',1);"></a>
<h3 class="fillettop4" trans_value="index_215"></h3>
<div class="tckuangcon fillet4" id="id_channelDetail">  <div class="fl">
  	<img src="../images/channel/channel_1.jpg" width="200" height="200">
	<a href="javascript:;" class="btn-small btn-red " trans_value="index_205">Uninstall</a>
  </div>
  <div class="fr">
  	<h2>Youtube</h2>
  	<P><span  trans_value="index_206">Type:</span> <span class="white" >media source</span></P>
  	<P><span  trans_value="index_207">Author: </span><span class="white">Youtube</span></P>
  	<p><span  trans_value="index_208">Version: </span><span class="white">1.001</span></p>
  	<P><span  trans_value="index_209">Summary:</span> <span class="white">It is friday!</span></P>
  </div>
  <div class="clr"></div>
  <div class="addondetaildes">
  <div class="addondetaildesBlock">
  	<p><span  trans_value="index_210">Description: </span><span class="white">Did you play one on one with teammates during practice? What's the punishment for the losing one?Did you play one on one with teammates during practice? What's the punishment for the losing one?Did you play one on one with teammates during practice? What's the punishment for the losing one?</span></p>
</div>
  </div>
</div>
