<a class="popAddChannel close" href="javascript:;" onclick="close_box('.addonChannel',2);"></a>
    <h3 id="popaddVideoH3" class="fillettop4" trans_value="index_194"></h3>
    <div class="tckuangcon filletbot4">
      <p class="addchannel-download-link" trans_value="index_201">Download address:<a href="http://www.abc.com">http://www.abc.com</a></p>
    <p class="fontbold" trans_value="index_15">The installation of the selected zip package</p>
    <div id="selectedPathblock">
        <ul class="selectedPath">
          <li index="4" class="even">
            <span class="folder-btn-bg J_channel_folder"></span>
            <span id="channelPath" class="showpath"></span>
          </li></ul>
    </div>
  </div>
  
    <a href="javascript:;" class="addchannel-finish-btn btn-small btn-blue J_channel_finish" trans_value="index_196">Install</a>