<a class="popAddNetPathClose close"  href="javascript:;" onClick="close_box('.addNetPath',4);"></a>
  <h3 id="popAddNetPathH3" class="fillettop4" trans_value="index_28">手动添加网络位置</h3>
  <div class="tckuangcon filletbot4">
  	<input type="hidden" id="txtErrPath" value=""/>
    <p>
      <label trans_value="index_31">用户名</label>
      <input type="text" name="userName" class="input-small" id="txtErrPathUserName" />
    </p>
    <p>
      <label trans_value="index_32">密码</label>
      <input type="password" name="password"  class="input-small" id="txtErrPathPwd" />
    </p>
    <p>
      <label trans_value="index_30">域</label>
      <input  type="text" name="domain" class="input-small" id="txtErrPathDomain" />
    </p>
    <a href="javascript:;"  onClick="close_box('.addNetPath',4);" class="fl btn-small btn-white" trans_value="index_25">取消</a><a href="javascript:;"  id="btnErrPathOK" class="fr btn-small btn-blue" trans_value="index_26">完成</a>
    <div class="clr"></div>
  </div>
