  <a class="popAddShare close" href="javascript:;" onclick="close_box('.addonShare',4);"></a>
    <h3 id="popaddVideoH3" class="fillettop4">Adding shared resources</h3>
    <div class="tckuangcon filletbot4 addpathblock">
      <p class="fontbold" trans_value="index_15">smb://goland</p>
      <p class="addshare-username"><input class="J_share_name" type="text" value="Username"></p>
      <p class="addshare-pass"><input class="J_share_pass" type="text" value="Password"></p>
      <a href="javascript:;" class="add-share-btn btn-small btn-blue J_share_confirm" trans_value="index_51">Confirm</a>
      <p class="addshare-note">Note: because computer systems are limited,because computer systems are limited.because computer systems are limited</p>
  </div>