 <a class="popconfirmDeleteClose close2"  href="javascript:;" onClick="close_box('.confirmDelete',3);"></a>
  <div class="tckuangcon fillet4">
    <h4 trans_value="index_53">确认删除</h4>
    <div class="deletePath" id="deletePath"></div>
    <a href="javascript:;"  onClick="close_box('.confirmDelete',3);" class="fr btn-small btn-white" trans_value="index_25">取消</a><a href="javascript:;"  class="fl btn-small btn-blue" id="btnCfmDeletePathOK" trans_value="index_33">确认</a>
    <div class="clr"></div>
  </div>
