 <a class="popupdatemetaClose close"  href="javascript:;" onClick="close_box('.updatemeta',1);"></a>
 <h3 class="fillettop4" trans_value="index_219">Edit Info</h3>
  <div class="tckuangcon fillet4">
  	<div class="updatemetablockW">
	    <div class="updatemetablock">
	    	<div class="updatemetainner">
	    		<div class="updatemes">
	    			<P><span trans_value="index_220">Storage path:</span><br> <span id="updatemetapath" class="white updatemesname">D:/movie/abc.iso</span></P>
	    			<h4 trans_value="index_221">Enter the video name to match</h4>
					<input class="input-small" type="text"  name="videoname" id="videoname"  value="">
					<h4 trans_value="index_222">Select the type to match</h4>
					<ul class="updateType clearfix" id="updateType">
						<li id="updatetoMoive" trans_value="index_38">Movie</li>
						<li id="updatetoTVShow" trans_value="index_39">TV Show</li>
						<li id="updatetoVideo" class="last" trans_value="index_40">Video</li>
					</ul>
					<P  trans_value="index_223">After a successful match, the media item will be automatically moved into the appropriate category.</p>
					<P class="white mt30"  trans_value="index_224">VidOn Server will automatically sort your media into different categories based on media title and type.</P>
					<a class="btn btn-white btn-disable" href="javascript:;" id="videosearchbtn" trans_value="index_225">search</a>
	    		</div>
	    	</div>
	    	<div class="updatemetainner clearfix">
	    		<div class="backbtn"></div>
		    	<div class="updatevideo updatevideoSuss clearfix" id="updatevideo">
		    			<div class="updatevideoblock left">
			    			<div class="img">
			    				<img src="http://127.0.0.1:32080/image/C:/Users/Public/Documents/VMS2/userdata/Thumbnails/5/59e90418.jpg" width="160px;" height="240">
			    			</div>
			    			<div class="updatevideomes vertical">
								<div class="vertical_wrap">
									<div class="vertical_content">
										<P class="videoname">Jurassic World</P>
										<P class="videotime">2015-6-12</P>
									</div>
								</div>
			    			</div>
			    			<div class="bg"></div>
			    			<div class="clr"></div>	
		    			</div>
		    			<div class="updatevideoblock">
		    				<div class="img">
			    				<img src="http://127.0.0.1:32080/image/C:/Users/Public/Documents/VMS2/userdata/Thumbnails/5/59e90418.jpg" width="160px;" height="240">
			    			</div>
			    			<div class="updatevideomes vertical">
								<div class="vertical_wrap">
									<div class="vertical_content">
										<P class="videoname">Jurassic World</P>
										<P class="videotime">2015-6-12</P>
									</div>
								</div>
			    			</div>
			    			<div class="bg"></div>
			    			<div class="clr"></div>	
		    			</div>
		    			<div class="updatevideoblock left">
			    			<div class="img">
			    				<img src="http://127.0.0.1:32080/image/C:/Users/Public/Documents/VMS2/userdata/Thumbnails/5/59e90418.jpg" width="160px;" height="240">
			    			</div>
			    			<div class="updatevideomes vertical">
								<div class="vertical_wrap">
									<div class="vertical_content">
										<P class="videoname">Jurassic World</P>
										<P class="videotime">2015-6-12</P>
									</div>
								</div>
			    			</div>
			    			<div class="bg"></div>
			    			<div class="clr"></div>	
		    			</div>
		    			<div class="updatevideoblock">
		    				<div class="img">
			    				<img src="http://127.0.0.1:32080/image/C:/Users/Public/Documents/VMS2/userdata/Thumbnails/5/59e90418.jpg" width="160px;" height="240">
			    			</div>
			    			<div class="updatevideomes vertical">
								<div class="vertical_wrap">
									<div class="vertical_content">
										<P class="videoname">Jurassic World</P>
										<P class="videotime">2015-6-12</P>
									</div>
								</div>
			    			</div>
			    			<div class="bg"></div>
			    			<div class="clr"></div>	
		    			</div>
		    			<div class="updatevideoblock left">
			    			<div class="img">
			    				<img src="http://127.0.0.1:32080/image/C:/Users/Public/Documents/VMS2/userdata/Thumbnails/5/59e90418.jpg" width="160px;" height="240">
			    			</div>
			    			<div class="updatevideomes vertical">
								<div class="vertical_wrap">
									<div class="vertical_content">
										<P class="videoname">Jurassic World</P>
										<P class="videotime">2015-6-12</P>
									</div>
								</div>
			    			</div>
			    			<div class="bg"></div>
			    			<div class="clr"></div>	
		    			</div>
		    			<div class="updatevideoblock">
		    				<div class="img">
			    				<img src="http://127.0.0.1:32080/image/C:/Users/Public/Documents/VMS2/userdata/Thumbnails/5/59e90418.jpg" width="160px;" height="240">
			    			</div>
			    			<div class="updatevideomes vertical">
								<div class="vertical_wrap">
									<div class="vertical_content">
										<P class="videoname">Jurassic World</P>
										<P class="videotime">2015-6-12</P>
									</div>
								</div>
			    			</div>
			    			<div class="bg"></div>
			    			<div class="clr"></div>	
		    			</div>
		    	</div>
		    	<div class="updatevideoErr" >
		    		<img src="images/meta/img.png" width="200" height="158">
		    		<P class="white"><b  trans_value="index_233">No match media information was found, please modify the name of the movie or type after try again</b></P>
		    	</div>
	    	</div>
	    </div>
    </div>
    <div class="bot">
    	<a href="javascript:;" onclick="close_box('.updatemeta',1);"  class="fl btn-small btn-white" trans_value="index_25" id="updateMetaCancelBtn">取消</a>
	    <a href="javascript:;" class="fr btn-small btn-blue btn-disable" trans_value="index_26" id="updateMetaFinishBtn">完成</a>
	    <div class="clr"></div>
    </div>
  </div>
