<div class="logoblock">
    <a class="logo" href="/"><img src="images/logo_new.png" width="163" height="32" /></a>
</div>
<div class="menublock">
	<a title="刷新" href="javascript:;" class="fresh" id="fresh"></a>
    <a href="javascript:;" id="addCommercialPath" class="addbtn" trans_title="index_47" title=""></a>
</div>
<dl>
    <dd class=" movies verticaldd" id="movie" onClick="GetMovies()">
        <div class="vertical">
          	<p class="vertical_wrap" ><span class="vertical_content " id="siderbar_moive" trans_value="index_38"></span></p>
        </div>
    </dd>
    <dd class="tvshows verticaldd" id="teleplay" onClick="GetTvshows()">
        <div class="vertical">
        	<p class="vertical_wrap" ><span class="vertical_content" id="siderbar_teleplay" trans_value="index_39"></span></p>
        </div>
    </dd>
    <dd class="video verticaldd" id="home_video" onClick="GetPrivVideos()">
        <div class="vertical">
        	<p class="vertical_wrap" ><span class="vertical_content" id="siderbar_home_video" trans_value="index_40"></span></p>
        </div>
    </dd>
    <dd class="photo verticaldd" id="images" onClick="GetPictures()">
        <div class="vertical">
        	<p class="vertical_wrap"><span class="vertical_content" id="siderbar_images" trans_value="index_41"></span></p>
        </div>
    </dd>
<dd class="channel verticaldd" id="channel" onClick="GetChannel()">
        <div class="vertical">
        	<p class="vertical_wrap"><span class="vertical_content" id="siderbar_channel" trans_value="index_191">Channel</span></p>
        </div>
    </dd>
   
</dl>
     