grant codeBase "file://${java.home}/lib/ext/*" {
	permission java.security.AllPermission;
};

grant {
	permission java.lang.RuntimePermission "stopThread";

	permission java.net.SocketPermission "localhost:1024-", "listen";

	permission java.util.PropertyPermission "java.version", "read";
	permission java.util.PropertyPermission "java.vendor", "read";
	permission java.util.PropertyPermission "java.vendor.url", "read";
	permission java.util.PropertyPermission "java.class.version", "read";
	permission java.util.PropertyPermission "os.name", "read";
	permission java.util.PropertyPermission "os.version", "read";
	permission java.util.PropertyPermission "os.arch", "read";
	permission java.util.PropertyPermission "file.separator", "read";
	permission java.util.PropertyPermission "path.separator", "read";
	permission java.util.PropertyPermission "line.separator", "read";

	permission java.util.PropertyPermission "java.specification.version", "read";
	permission java.util.PropertyPermission "java.specification.vendor", "read";
	permission java.util.PropertyPermission "java.specification.name", "read";

	permission java.util.PropertyPermission "java.vm.specification.version", "read";
	permission java.util.PropertyPermission "java.vm.specification.vendor", "read";
	permission java.util.PropertyPermission "java.vm.specification.name", "read";
	permission java.util.PropertyPermission "java.vm.version", "read";
	permission java.util.PropertyPermission "java.vm.vendor", "read";
	permission java.util.PropertyPermission "java.vm.name", "read";

	permission java.util.PropertyPermission "java.awt.AlphaComposite.SRC_OVER.isRestricted", "read"; 
	permission java.util.PropertyPermission "java.awt.Graphics2D.setStroke.BasicStroke.isRestricted", "read";
	permission java.util.PropertyPermission "java.awt.Component.setCursor.isRestricted", "read";
	permission java.util.PropertyPermission "java.awt.Frame.setSize.isRestricted", "read";
	permission java.util.PropertyPermission "java.awt.Frame.setResizable.isRestricted", "read";
	permission java.util.PropertyPermission "java.awt.Frame.setLocation.isRestricted", "read";
	permission java.util.PropertyPermission "java.awt.Frame.setTitle.isRestricted", "read";
	permission java.util.PropertyPermission "java.awt.Frame.setUndecorated.isRestricted", "read";
	permission java.util.PropertyPermission "java.awt.event.MouseEvent.isRestricted", "read";
	permission java.util.PropertyPermission "java.awt.event.MouseEvent.supportLevel", "read";
	permission java.util.PropertyPermission "java.awt.event.KeyEvent.isRestricted", "read";
	permission java.util.PropertyPermission "java.awt.event.KeyEvent.supportMask", "read";

	permission javax.microedition.xlet.ixc.IxcPermission "*", "bind";
	permission javax.microedition.xlet.ixc.IxcPermission "*", "lookup";
};
