.editCombineBlock .transferredinfo .dropdown{ width:180px; }
.editCombineBlock .transferredinfo .input_dropdown{ width: 156px;}
.editCombineBlock .transferredinfo .input_dropdown b{width: 150px;}
.editCombineBlock .transferredinfo  input{width: 180px; }
.editCombineBlock .transferredinfo ul{ width: 180px;}
.libraryname  p{ padding:0px;}