.editCombineBlock .transferredinfo .dropdown{ width:200px; }
.editCombineBlock .transferredinfo .input_dropdown{ width: 176px;}
.editCombineBlock .transferredinfo .input_dropdown b{width: 170px;}
.editCombineBlock .transferredinfo  input{width: 170px; }
.editCombineBlock .transferredinfo ul{ width: 200px;}
.siderbar .addlibrary a{ line-height: 18px;}
