.editCombineBlock .transferredinfo .dropdown{ width:190px; }
.editCombineBlock .transferredinfo .input_dropdown{ width: 196px;}
.editCombineBlock .transferredinfo .input_dropdown b{width: 190px;}
.editCombineBlock .transferredinfo  input{width: 190px; }
.editCombineBlock .transferredinfo ul{ width: 190px;}